<navtabs page-name="state.pageName"></navtabs>
<div class="paddinglr10">
  <h1>A simple todo list</h1>
  <form ng-submit="addItem()">
    <fieldset>
      <input type="text" placeholder="Add something" size=50 ng-model="state.newItem" />
      <button class="btn btn-primary">Add item</button>
    </fieldset>
  </form>

  <button class="btn" ng-click="setAndRetrieveLastNItems(5)">
  Retrieve last 5 items
  </button>
  <button class="btn" ng-click="setAndRetrieveLastNItems(10)">
  Retrieve last 10 items
  </button>
  <button class="btn" ng-click="setAndRetrieveLastNItems(15)">
  Retrieve last 15 items
  </button>

  <table class="table">
    <thead>
      <th>Number</th>
      <th>Text</th>
    </thead>
    <tbody>
      <tr ng-repeat="item in state.todoList">
        <td>{{ $index + 1 }}</td>
        <td>{{ item.text }}</td>
      </tr>
    </tbody>
  </table>
</div>
